html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: auto;
  z-index: -1;
  margin: 0;
  padding: 0;
}
.splashscreen {
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  text-align: center;
  line-height: 90vh;
  background-image: url(/images/Space\ Splash.jpeg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.title-splashscreen {
  position: absolute;
  font-size: 8em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(203, 216, 21);
  margin-bottom: 250px;
}
.creator-splashscreen {
  position: absolute;
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(100, 15, 150);
  margin-bottom: 123px;
}
.controls-splashscreen {
  font-size : 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(204, 24, 33);
  margin-bottom: 1px;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}
#start {
  position: absolute;
  background-color:transparent;
  color: rgb(231, 210, 16);
  padding: 0.25rem 0.5rem;
  font-size: 4em;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-block: 300px;
  align-items: center;
  cursor:crosshair;
  margin-bottom: 200px;
  animation: bounce 2s infinite;
}
.game {
  width: 980px;
  height: 579px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}
.scores {
  display: flex;
  justify-content: right;
  font-size : 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(203, 216, 21);
}
canvas#nemesis {
  position: absolute;
  font-size: 2em;
  text-decoration-color: antiquewhite;
  top: 18%;
  left: 120%;
  margin: 0 auto;
  border: 3px solid rgb(155, 142, 6);
  border-radius: 20px;
  border-style: double;
}
.container {
  margin: 0 auto;
  width: 200px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
#gameover {
  position: fixed;
  top: 45%;
  left: 50%;
  text-align: center;
  font-size: 3em;
  padding: 20px;
  width: 50%;
  transform: translate(-50%, -50%);
  color: rgb(163, 13, 25);
  /* background-color: rgb(239, 11, 11);
  border-style: double;
  border: 10px solid rgb(155, 142, 6);
  border-radius: 20px; */
}
#try-again {
  /*position: absolute;*/
  background-color:transparent;
  color: rgb(231, 210, 16);
  padding: 0.25rem 0.5rem;
  font-size: 25px;
  font-weight: 70;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor:crosshair;
  margin-bottom: 200px;
  animation: bounce 2s infinite;
}
#try-again-vic {
  background-color:transparent;
  color: rgb(231, 210, 16);
  font-size: 25px;
  font-weight: 70;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor:crosshair;
  animation: bounce 2s infinite;
  margin-top: 400px;
  margin-left: 200px;
}
.title-victory{
  position:absolute;
  padding: 1rem 0rem;
  font-size: 5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(203, 216, 21);
  margin-bottom: 100px;
}
#win {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 2em;
  padding: 20px;
  width: 20%;
  transform: translate(-50%, -50%);
  color: rgb(185, 204, 16);
}