html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: black;
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: auto;
  z-index: -1;
  margin: 0;
  padding: 0;
}
.splashscreen {
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  text-align: center;
  line-height: 90vh;
  background-image: url(/images/photo-1524334228333-0f6db392f8a1.jpeg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.title-splashscreen {
  position: absolute;
  font-size: 8em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(203, 216, 21);
  margin-bottom: 250px;
}
.controls-splashscreen {
  display: block;
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(203, 216, 21);
}
button {
  position: absolute;
  background-color: rgb(17, 16, 2);
  color: rgb(231, 210, 16);
  padding: 0.25rem 0.5rem;
  border: 1px solid rgb(221, 135, 23);
  border-radius: 10px;
  font-size: 2em;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-block: 250px;
  align-items: center;
}
.game{
  width: 980px;
  height: 579px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}
.container {
  margin: 0 auto;
  width: 200px;
}
canvas#nemesis {
  position: absolute;
  font-size: 2em;
  text-decoration-color: antiquewhite;
  top: 18%;
  left: 120%;
  margin: 0 auto;
  border: 3px solid rgb(155, 142, 6);
  border-radius: 20px;
  border-style: double;
  /* box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 rgb(2, 2, 2); */
  /* background-image: url(images/wallpaper-mania.com_High_resolution_wallpaper_background_ID_77701908641.jpg); */
}
.hide {
  display: none;
}
.show {
  display: block;
}
.gameover {
  border: 3px solid rgb(155, 142, 6);
  border-radius: 20px;
  background-color: rgb(9, 19, 77);

  margin-left: 165px;
  font-size: 1.2em;
  width: 400px;
  padding-left: 5px;
}
#gameover {
  font-size: 1.7em;
  text-align: center;
  border: 2px solid rgb(155, 142, 6);
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgb(239, 11, 11);
  box-shadow: 2px 2px 10px 0 rgb(2, 2, 2);
  margin: 0 auto;
  padding: 20px;
  width: 40%;
  top: 25%;
  left: 30%;
}