html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: black;
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: auto;
  z-index: -1;
  margin: 0;
  padding: 0;
}
.splashscreen {
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  text-align: center;
  line-height: 90vh;
  background-image: url(/images/Space\ Splash.jpeg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.title-splashscreen {
  position: absolute;
  font-size: 8em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(203, 216, 21);
  margin-bottom: 250px;
}
.controls-splashscreen {
  display: flex;
  font-size : 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(203, 216, 21);
}
#start {
  position: absolute;
  background-color: rgb(17, 16, 2);
  color: rgb(231, 210, 16);
  padding: 0.25rem 0.5rem;
  border: 1px solid rgb(221, 135, 23);
  border-radius: 10px;
  font-size: 2em;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-block: 250px;
  align-items: center;
}
.game{
  width: 980px;
  height: 579px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}
.scores {
  display: flex;
  justify-content: right;
  font-size : 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(203, 216, 21);
}
canvas#nemesis {
  position: absolute;
  font-size: 2em;
  text-decoration-color: antiquewhite;
  top: 18%;
  left: 120%;
  margin: 0 auto;
  border: 3px solid rgb(155, 142, 6);
  border-radius: 20px;
  border-style: double;
}
.container {
  margin: 0 auto;
  width: 200px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
#gameover {
  position: fixed;
  top: 45%;
  left: 50%;
  text-align: center;
  font-size: 3em;
  padding: 20px;
  width: 50%;
  transform: translate(-50%, -50%);
  color: rgb(163, 13, 25);
  /* background-color: rgb(239, 11, 11);
  border-style: double;
  border: 10px solid rgb(155, 142, 6);
  border-radius: 20px; */
}
#try-again {
  color: rgb(231, 210, 16);
  background-color: rgb(17, 16, 2);
  padding: 0.25rem 0.5rem;
  font-size: 25px;
  font-weight: 70;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px solid rgb(221, 135, 23);
  border-radius: 10px;
}